<!DOCTYPE html>

<script src="home.js"></script>
<link rel="stylesheet" href="home.css">

<template id="user-nav.tpl.html">
  <div class="dropdown pull-right navatar">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>{{user.profile.username}}</span>
      <img modit-thumb="user" thumb-size="25" right>
    </a>
    <ul class="dropdown-menu">
      <li><a href="https://modit.desk.com" target="_blank">Help</a></li>
      <li><a href="//{{API_HOST}}/auth/logout?redirect={{origin}}" target="_self">Sign out</a></li>
    </ul>
  </div>
</template>

<template id="home.tpl.html">
  <div class="admin-home">
    <p class="lead">Metrics Dashboard</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <label class="form-label">Metric</label>
        <select class="form-control" ng-model="metric">
          <option value="project">Projects</option>
          <option value="user">Users</option>
          <option value="org">Orgs</option>
        </select>
      </div>
      
      <div class="form-group col-sm-3">
        <label class="form-label">Date Range</label>
        <select class="form-control" ng-model="range" ng-options="o.label for o in rangeOptions">
        </select>
      </div>
      
      <div class="form-group col-sm-3" ng-show="range.label === 'Custom'">
        <label class="form-label">Start</label>
        <input type="text" class="form-control" datepicker-popup show-weeks="false" ng-model="range.start" />
      </div>
      <div class="form-group col-sm-3" ng-show="range.label === 'Custom'">
        <label class="form-label">End</label>
        <input type="text" class="form-control" datepicker-popup show-weeks="false" ng-model="range.end" />
      </div>
    </div>
    <p>
      <a class="btn-link" ng-click="optionsCollapsed = !optionsCollapsed">
        {{optionsCollapsed ? 'Show options': 'Hide options'}}
      </a>
    </p>
    <div collapse="optionsCollapsed">
      <div class="row">
        <div class="form-group col-sm-3">
          <label>Trailing Intervals (days)</label>
          <div class="row">
            <div class="col-xs-6"><input type="number" class="form-control" ng-model="interval1" min="2"></div>
            <div class="col-xs-6"><input type="number" class="form-control" ng-Model="interval2" min="{{interval1 + 1}}"></div>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label>Trailing Method</label>
          <select class="form-control" ng-model="method" ng-options="o.label for o in trailingOptions">
          </select>
        </div>
        <div class="form-group col-sm-2">
          <div><label>&nbsp;</label></div>
          <button type="button" class="btn btn-success" ng-click="query()">Apply</button>
        </div>
      </div>
    </div>
    <hr>
    <p ng-show="!data.$resolved">
      Loading...
    </p>
    <tabset ng-show="data.$resolved">
      <tab heading="Table">
        <div ng-show="data.$resolved && data.length" class="results" ng-class="{ 'trail1': resultInt1, 'trail2': resultInt2 }">
      
          <div class="results-header">
          
            <div class="row lead">
              <div class="col-xs-2">Date</div>
              <div class="var-col">New</div>
              <div class="var-col">Deleted</div>
              <div class="var-col">Total</div>
            </div>
            
            <div class="row" ng-show="resultInt1">
              <div class="col-xs-2">&nbsp;</div>
              <div class="var-col">
                <div class="row">
                  <div>1d</div>
                  <div>{{resultInt1}}d</div>
                  <div ng-show="resultInt2">{{resultInt2}}d</div>
                </div>
              </div>
              <div class="var-col">
                <div class="row">
                  <div>1d</div>
                  <div>{{resultInt1}}d</div>
                  <div ng-show="resultInt2">{{resultInt2}}d</div>
                </div>
              </div>
              <div class="var-col">
                <div class="row" ng-show="method.label != 'Sum'">
                  <div>1d</div>
                  <div>{{resultInt1}}d</div>
                  <div ng-show="resultInt2">{{resultInt2}}d</div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="results-main">
            <div class="row day" ng-repeat="day in filtered = (data | slice:trail | orderBy:'-date') ">
              <div class="col-xs-2">{{day.date | date:'mediumDate'}}</div>
              <div class="var-col">
                <div class="row text-success">
                  <div new="">{{day.new | number}}</div>
                  <div new="trail1" ng-show="resultInt1" >{{day | trailing:method:resultInt1:'new' | number}}</div>
                  <div new="trail2" ng-show="resultInt2">{{day | trailing:method:resultInt2:'new' | number}}</div>
                </div>
              </div>
              <div class="var-col">
                <div class="row text-danger">
                  <div del="">{{day.deleted | number}}</div>
                  <div del="trail1" ng-show="resultInt1">{{day | trailing:method:resultInt1:'deleted' | number}}</div>
                  <div del="trail2" ng-show="resultInt2">{{day | trailing:method:resultInt2:'deleted' | number}}</div>
                </div>
              </div>
              <div class="var-col">
                <div class="row text-primary">
                  <div tot="">{{day.total | number}}</div>
                  <div tot="trail1" ng-show="resultInt1 && method.label != 'Sum'">{{day | trailing:method:resultInt1:'total' | number}}</div>
                  <div tot="trail2" ng-show="resultInt2 && method.label != 'Sum'">{{day | trailing:method:resultInt2:'total'| number}}</div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="results-total" ng-if="filtered.length > 1">
            <hr>
            <div class="row day" ng-repeat="type in ['Total', 'Average', 'Maximum', 'Minimum']">
              <div class="col-xs-2"><b>{{type}}</b></div>
              <div class="var-col">
                <div class="row text-success">
                  <div><b>{{getTotal(type, 'new') | number}}</b></div>
                  <div ng-show="resultInt1 && (type !== 'Total' || method.label != 'Sum')"><b>{{getTotal(type, 'new', 'trail1') | number}}</b></div>
                  <div ng-show="resultInt2 && (type !== 'Total' || method.label != 'Sum')"><b>{{getTotal(type, 'new', 'trail2') | number}}</b></div>
                </div>
              </div>
              <div class="var-col">
                <div class="row text-danger">
                  <div><b>{{getTotal(type, 'del') | number}}</b></div>
                  <div ng-show="resultInt1 && (type !== 'Total' || method.label != 'Sum')"><b>{{getTotal(type, 'del', 'trail1') | number}}</b></div>
                  <div ng-show="resultInt2 && (type !== 'Total' || method.label != 'Sum')"><b>{{getTotal(type, 'del', 'trail2') | number}}</b></div>
                </div>
              </div>
              <div class="var-col">
                <div class="row text-primary">
                  <div><b>{{getTotal(type, 'tot') | number}}</b></div>
                  <div ng-show="resultInt1 && method.label != 'Sum'"><b>{{getTotal(type, 'tot', 'trail1') | number}}</b></div>
                  <div ng-show="resultInt2 && method.label != 'Sum'"><b>{{getTotal(type, 'tot', 'trail2') | number}}</b></div>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
      </tab>
      <tab heading="Graph" active="true">
        <div style="padding-top: 30px">
          <div modit-chart="chart"></div>
        </div>
        
      </tab>
      
    </tabset>
  </div>
</template>


<!-- /////////////////////////// Custom Datepicker Template /////////////////////////////////// -->
<template id="template/datepicker/popup.html">
  <ul class="dropdown-menu" ng-style="{display: (isOpen && 'block') || 'none', top: position.top+'px', left: position.left+'px'}">
  	<li ng-transclude></li>
  	<li ng-show="showButtonBar" style="padding:10px 9px 2px">
  		<span class="btn-group">
  			<button type="button" class="btn btn-sm btn-default-dark" ng-click="today()">{{currentText}}</button>
  			<button type="button" class="btn btn-sm btn-default-dark" ng-click="showWeeks = ! showWeeks" ng-class="{active: showWeeks}">{{toggleWeeksText}}</button>
  			<button type="button" class="btn btn-sm btn-default-dark" ng-click="clear()">{{clearText}}</button>
  		</span>
  		<button type="button" class="btn btn-sm btn-success pull-right" ng-click="isOpen = false">{{closeText}}</button>
  	</li>
  </ul>
</template>
<template id="template/datepicker/datepicker.html">
  <table>
    <thead>
      <tr>
        <th ng-show="showWeekNumbers" style="width: 30px;"></th>
        <th>
          <button type="button" class="btn btn-default-dark btn-sm pull-left" ng-click="move(-1)">
            <i class="fa fa-angle-left"></i>
          </button>
        </th>
        <th colspan="{{rows[0].length - 2}}">
          <button type="button" class="btn btn-default-dark btn-sm btn-block" ng-click="toggleMode()">
            <strong>{{title}}</strong>
          </button>
        </th>
        <th>
          <button type="button" class="btn btn-default-dark btn-sm pull-right" ng-click="move(1)">
            <i class="fa fa-angle-right"></i>
          </button>
        </th>
      </tr>
      <tr ng-show="labels.length > 0" class="h6">
        <th ng-show="showWeekNumbers" class="text-center">W#</th>
        <th ng-repeat="label in labels" class="text-center">{{label}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows">
        <td ng-show="showWeekNumbers" class="text-center"><em>{{ getWeekNumber(row) }}</em></td>
        <td ng-repeat="dt in row" class="text-center">
          <button type="button" style="width:100%;" class="btn btn-default-dark btn-sm" ng-class="{'btn-info': dt.selected}" ng-click="select(dt.date)" ng-disabled="dt.disabled"><span ng-class="{'text-muted': dt.secondary}">{{dt.label}}</span></button>
        </td>
      </tr>
    </tbody>
  </table>
</template>