@import "../lib/bootstrap/less/bootstrap.less";
@import "common/less/variables.less";

body {
  background-color: @gray-dark;
}

.header {
  padding-left: 15px;
  background-color: @gray-darker;
  border-bottom: 1px solid @gray;
}

.main {
  
  margin-top: 60px;
  color: @gray-lighter;;
}